.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: auto;
  label {
    display: flex;
    flex-direction: column;
  }
}
.invalid {
  background-color: #ff000030;
}
.valid {
  background-color: #00ff0030;
}
